In [2]:
!pip install --q fosforio[snowflake]

WARNING: The directory '/home/mosaic-ai/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting fosforio[snowflake]
  Downloading https://files.pythonhosted.org/packages/39/85/527779b1003babb2deff0438e746d6b7ef8140d5c07f8d4992edcf758f3e/fosforio-1.0.1-py3-none-any.whl
Collecting pandas==2.0.0
  Downloading https://files.pythonhosted.org/packages/23/c0/4b71d4a9fbfe2fbe3e379bebc22bc935e4d09b7802899a5ac1b90bf090bb/pandas-2.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3MB)
     |████████████████████████████████| 12.3MB 5.8MB/s eta 0:00:01��████▉   | 11.1MB 5.8MB/s eta 0:00:01
Collecting snowflake-connector-python[pandas]==3.6.0; extra == "snowflake"
  Downloading https://files.pythonhosted.org/packages/45/c9/b15f5a5652fa52dbb9a15c86a8d117d52a3d4630626f6a1bbf7e2675583f/snowflake_connector_python-3.6.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5MB)
     |████████████████████████████████| 2.5MB 45.5MB/s eta 0:00:01
Collecting python-dateutil>=2.8.2
  Downloading https://files.pythonhosted.org/packages/ec/57/56b9bcc3c9c6a792fcbaf139543cee77261f3651ca9da0c93f5c1221264b/python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229kB)
     |████████████████████████████████| 235kB 58.1MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl (345kB)
     |████████████████████████████████| 348kB 43.9MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading https://files.pythonhosted.org/packages/98/5d/5738903efe0ecb73e51eb44feafba32bdba2081263d40c5043568ff60faf/numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 54.0MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl (505kB)
     |████████████████████████████████| 512kB 53.5MB/s eta 0:00:01
Collecting pyjwt<3.0.0
  Downloading https://files.pythonhosted.org/packages/2b/4f/e04a8067c7c96c364cef7ef73906504e2f40d690811c021e1a1901473a19/PyJWT-2.8.0-py3-none-any.whl
Collecting filelock<4,>=3.5
  Downloading https://files.pythonhosted.org/packages/41/24/0b023b6537dfc9bae2c779353998e3e99ac7dfff4222fc6126650e93c3f3/filelock-3.14.0-py3-none-any.whl
Collecting cryptography<42.0.0,>=3.1.0
  Downloading https://files.pythonhosted.org/packages/14/fd/dd5bd6ab0d12476ebca579cbfd48d31bd90fa28fa257b209df585dcf62a0/cryptography-41.0.7-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.4MB)
     |████████████████████████████████| 4.4MB 51.5MB/s eta 0:00:01
Collecting certifi>=2017.4.17
  Downloading https://files.pythonhosted.org/packages/ba/06/a07f096c664aeb9f01624f858c3add0a4e913d6c96257acb4fce61e7de14/certifi-2024.2.2-py3-none-any.whl (163kB)
     |████████████████████████████████| 163kB 55.5MB/s eta 0:00:01
Collecting urllib3<2.0.0,>=1.21.1; python_version < "3.10"
  Downloading https://files.pythonhosted.org/packages/b0/53/aa91e163dcfd1e5b82d8a890ecf13314e3e149c05270cc644581f77f17fd/urllib3-1.26.18-py2.py3-none-any.whl (143kB)
     |████████████████████████████████| 153kB 53.6MB/s eta 0:00:01
Collecting requests<3.0.0
  Downloading https://files.pythonhosted.org/packages/70/8e/0e2d847013cb52cd35b38c009bb167a1a26b2ce6cd6965bf26b47bc0bf44/requests-2.31.0-py3-none-any.whl (62kB)
     |████████████████████████████████| 71kB 47.4MB/s eta 0:00:01
Collecting charset-normalizer<4,>=2
  Downloading https://files.pythonhosted.org/packages/3d/09/d82fe4a34c5f0585f9ea1df090e2a71eb9bb1e469723053e1ee9f57c16f3/charset_normalizer-3.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (141kB)
     |████████████████████████████████| 143kB 53.9MB/s eta 0:00:01
Collecting asn1crypto<2.0.0,>0.24.0
  Downloading https://files.pythonhosted.org/packages/c9/7f/09065fd9e27da0eda08b4d6897f1c13535066174cc023af248fc2a8d5e5a/asn1crypto-1.5.1-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 55.7MB/s eta 0:00:01
Collecting idna<4,>=2.5
  Downloading https://files.pythonhosted.org/packages/e5/3e/741d8c82801c347547f8a2a06aa57dbb1992be9e948df2ea0eda2c8b79e8/idna-3.7-py3-none-any.whl (66kB)
     |████████████████████████████████| 71kB 52.1MB/s eta 0:00:01
Collecting typing-extensions<5,>=4.3
  Downloading https://files.pythonhosted.org/packages/01/f3/936e209267d6ef7510322191003885de524fc48d1b43269810cd589ceaf5/typing_extensions-4.11.0-py3-none-any.whl
Collecting cffi<2.0.0,>=1.9
  Downloading https://files.pythonhosted.org/packages/f1/c9/326611aa83e16b13b6db4dbb73b5455c668159a003c4c2f0c3bcb2ddabaf/cffi-1.16.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (444kB)
     |████████████████████████████████| 450kB 52.1MB/s eta 0:00:01
Collecting packaging
  Downloading https://files.pythonhosted.org/packages/49/df/1fceb2f8900f8639e278b056416d49134fb8d84c5942ffaa01ad34782422/packaging-24.0-py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 53.0MB/s eta 0:00:01
Collecting tomlkit
  Downloading https://files.pythonhosted.org/packages/73/6d/b5406752c4e4ba86692b22fab0afed8b48f16bdde8f92e1d852976b61dc6/tomlkit-0.12.5-py3-none-any.whl
Collecting pyOpenSSL<24.0.0,>=16.2.0
  Downloading https://files.pythonhosted.org/packages/db/de/007b832ad7a95e6a73745609bbe123c407aa2c46bb0b8f765c8718294e7f/pyOpenSSL-23.3.0-py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 41.8MB/s eta 0:00:01
Collecting sortedcontainers>=2.4.0
  Downloading https://files.pythonhosted.org/packages/32/46/9cb0e58b2deb7f82b84065f37f3bffeb12413f947f9388e4cac22c4621ce/sortedcontainers-2.4.0-py2.py3-none-any.whl
Collecting platformdirs<4.0.0,>=2.6.0
  Downloading https://files.pythonhosted.org/packages/56/29/3ec311dc18804409ecf0d2b09caa976f3ae6215559306b5b530004e11156/platformdirs-3.11.0-py3-none-any.whl
Collecting pyarrow; extra == "pandas"
  Downloading https://files.pythonhosted.org/packages/6e/e8/ae66b4aa457143329e5677149afe552e3e0d1062582ef688b9cce444e7c7/pyarrow-16.1.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.0MB)
     |████████████████████████████████| 41.1MB 51.2MB/s eta 0:00:01
Collecting six>=1.5
  Downloading https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Collecting pycparser
  Downloading https://files.pythonhosted.org/packages/13/a3/a812df4e2dd5696d1f351d58b8fe16a405b234ad2886a0dab9183fb78109/pycparser-2.22-py3-none-any.whl (117kB)
     |████████████████████████████████| 122kB 49.6MB/s eta 0:00:01
ERROR: snowflake-snowpark-python 1.0.0 has requirement snowflake-connector-python<3.0.0,>=2.7.12, but you'll have snowflake-connector-python 3.6.0 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement cryptography<39.0.0,>=3.1.0, but you'll have cryptography 41.0.7 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement packaging<24,>=20.9, but you'll have packaging 24.0 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement pandas<2,>=1.0.0, but you'll have pandas 2.0.0 which is incompatible.
ERROR: snowflake-ml-python 1.0.1 has requirement snowflake-snowpark-python<2,>=1.4.0, but you'll have snowflake-snowpark-python 1.0.0 which is incompatible.
ERROR: openapi-schema-validator 0.6.2 has requirement jsonschema<5.0.0,>=4.19.1, but you'll have jsonschema 3.2.0 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Flask==2.1.1; python_version >= "3.7", but you'll have flask 2.2.5 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement Jinja2==3.0.3, but you'll have jinja2 3.1.4 which is incompatible.
ERROR: mosaic-ai-serving 1.0.0 has requirement matplotlib==3.6.0; python_version >= "3.8", but you'll have matplotlib 3.7.5 which is incompatible.
ERROR: mosaic-ai-client 1.0.0 has requirement matplotlib==3.1.1, but you'll have matplotlib 3.7.5 which is incompatible.
ERROR: jupyterlab 3.2.4 has requirement jupyter-server~=1.4, but you'll have jupyter-server 2.0.0a1 which is incompatible.
ERROR: jupyterlab-server 2.25.4 has requirement jsonschema>=4.18.0, but you'll have jsonschema 3.2.0 which is incompatible.
Installing collected packages: six, python-dateutil, tzdata, numpy, pytz, pandas, pyjwt, filelock, pycparser, cffi, cryptography, certifi, urllib3, charset-normalizer, idna, requests, asn1crypto, typing-extensions, packaging, tomlkit, pyOpenSSL, sortedcontainers, platformdirs, pyarrow, snowflake-connector-python, fosforio

Successfully installed asn1crypto-1.5.1 certifi-2024.2.2 cffi-1.16.0 charset-normalizer-3.3.2 cryptography-41.0.7 filelock-3.14.0 fosforio-1.0.1 idna-3.7 numpy-1.24.4 packaging-24.0 pandas-2.0.0 platformdirs-3.11.0 pyOpenSSL-23.3.0 pyarrow-16.1.0 pycparser-2.22 pyjwt-2.8.0 python-dateutil-2.9.0.post0 pytz-2024.1 requests-2.31.0 six-1.16.0 snowflake-connector-python-3.6.0 sortedcontainers-2.4.0 tomlkit-0.12.5 typing-extensions-4.11.0 tzdata-2024.1 urllib3-1.26.18
WARNING: You are using pip version 19.3.1; however, version 24.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [8]:
from fosforio import snowflake

In [6]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
snowflake.get_connection()

# To get snowflake connection object with a specific connection name
#snowflake.get_connection(connection_name="FDC_SNOWFLAKE")

User name picked from OS env: manishh.singh@fosfor.com
Fetching connections created by manishh.singh@fosfor.com user
Connection names fetched ['FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_SNOWFLAKE'], created by manishh.singh@fosfor.com
Exception occurred in getting snowflake connection: 'connectionSources'

# ATM Meta data

In [12]:
# To read a specific dataset published from a snowflake connection
df_atm = snowflake.get_dataframe("ATM_METADATA")

In [13]:
df_atm.shape

(420, 6)

In [14]:
df_atm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ATM_ID        420 non-null    object
 1   MAX_CAPACITY  420 non-null    float64
 2   BANK_ID       420 non-null    int8
 3   STATE         420 non-null    object
 4   CREATED_BY    420 non-null    object
 5   CREATED_AT    420 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int8(1), object(3)
memory usage: 16.9+ KB

In [15]:
df_atm.describe()

       MAX_CAPACITY    BANK_ID           CREATED_AT
count  4.200000e+02  420.00000                  420
mean   3.300000e+06    2.00000  2024-05-14 07:43:27
min    2.420000e+06    1.00000  2024-05-14 07:43:27
25%    2.860000e+06    1.00000  2024-05-14 07:43:27
50%    3.520000e+06    2.00000  2024-05-14 07:43:27
75%    3.520000e+06    3.00000  2024-05-14 07:43:27
max    3.740000e+06    3.00000  2024-05-14 07:43:27
std    3.845215e+05    0.81747                  NaN

In [16]:
df_atm.head()

,ATM_ID,MAX_CAPACITY,BANK_ID,STATE,CREATED_BY,CREATED_AT
0,SPCN2020,2640000.0,1,Michigan,manishh.singh@fosfor.com,2024-05-14 07:43:27
1,TBH00000303920,3520000.0,3,Minnesota,manishh.singh@fosfor.com,2024-05-14 07:43:27
2,TBH00000303919,3520000.0,3,Hawaii,manishh.singh@fosfor.com,2024-05-14 07:43:27
3,TBH00000303918,3520000.0,3,Utah,manishh.singh@fosfor.com,2024-05-14 07:43:27
4,TBH00000303917,3520000.0,3,Oregon,manishh.singh@fosfor.com,2024-05-14 07:43:27

In [18]:
df_atm.isnull().sum()

ATM_ID          0
MAX_CAPACITY    0
BANK_ID         0
STATE           0
CREATED_BY      0
CREATED_AT      0
dtype: int64

In [21]:
cols = ['ATM_ID','STATE']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_atm[col].nunique())

------------------------------------------------
ATM_ID  ->  420
------------------------------------------------
STATE  ->  50

# BANKS Meta data

In [22]:
# To read a specific dataset published from a snowflake connection
df_bank = snowflake.get_dataframe("BANK_METADATA")

In [23]:
df_bank.shape

(3, 4)

In [24]:
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BANK_ID     3 non-null      int8
 1   BANK_NAME   3 non-null      object
 2   CREATED_BY  3 non-null      object
 3   CREATED_AT  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int8(1), object(2)
memory usage: 203.0+ bytes

In [25]:
df_bank.describe()

       BANK_ID           CREATED_AT
count      3.0                    3
mean       2.0  2024-05-14 07:47:20
min        1.0  2024-05-14 07:47:20
25%        1.5  2024-05-14 07:47:20
50%        2.0  2024-05-14 07:47:20
75%        2.5  2024-05-14 07:47:20
max        3.0  2024-05-14 07:47:20
std        1.0                  NaN

In [26]:
df_bank.head()

   BANK_ID    BANK_NAME                CREATED_BY          CREATED_AT
0        1  Wells Fargo  manishh.singh@fosfor.com 2024-05-14 07:47:20
1        2   BNY Mellon  manishh.singh@fosfor.com 2024-05-14 07:47:20
2        3     Citibank  manishh.singh@fosfor.com 2024-05-14 07:47:20

In [27]:
df_bank.isnull().sum()

BANK_ID       0
BANK_NAME     0
CREATED_BY    0
CREATED_AT    0
dtype: int64

In [28]:
cols = ['BANK_NAME']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_bank[col].nunique())

------------------------------------------------
BANK_NAME  ->  3

In [29]:
# DATE Metadata

In [30]:
# To read a specific dataset published from a snowflake connection
df_date = snowflake.get_dataframe("DATE_METADATA")

In [31]:
df_date.shape

(783, 5)

In [32]:
df_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783 entries, 0 to 782
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        783 non-null    object
 1   WEEKDAY     783 non-null    object
 2   HOLIDAY     783 non-null    bool
 3   CREATED_BY  783 non-null    object
 4   CREATED_AT  783 non-null    datetime64[ns]
dtypes: bool(1), datetime64[ns](1), object(3)
memory usage: 25.4+ KB

In [33]:
df_date.describe()

                          CREATED_AT
count                            783
mean   2024-05-14 07:43:32.999999488
min              2024-05-14 07:43:33
25%              2024-05-14 07:43:33
50%              2024-05-14 07:43:33
75%              2024-05-14 07:43:33
max              2024-05-14 07:43:33

In [34]:
df_date.head()

         DATE  WEEKDAY  HOLIDAY                CREATED_BY          CREATED_AT
0  2021-01-01  weekend     True  manishh.singh@fosfor.com 2024-05-14 07:43:33
1  2023-02-22  weekday    False  manishh.singh@fosfor.com 2024-05-14 07:43:33
2  2023-02-21  weekday    False  manishh.singh@fosfor.com 2024-05-14 07:43:33
3  2023-02-20  weekday     True  manishh.singh@fosfor.com 2024-05-14 07:43:33
4  2023-02-19  weekday    False  manishh.singh@fosfor.com 2024-05-14 07:43:33

In [35]:
df_date.isnull().sum()

DATE          0
WEEKDAY       0
HOLIDAY       0
CREATED_BY    0
CREATED_AT    0
dtype: int64

In [36]:
cols = ['DATE','WEEKDAY','HOLIDAY']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_date[col].nunique())

------------------------------------------------
DATE  ->  783
------------------------------------------------
WEEKDAY  ->  2
------------------------------------------------
HOLIDAY  ->  2

# TRANSACTION METADATA

In [37]:
# To read a specific dataset published from a snowflake connection
df_trans = snowflake.get_dataframe("TRANSACTION_METADATA")

In [38]:
df_trans.shape

(328860, 7)

In [39]:
df_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328860 entries, 0 to 328859
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ATMID          328860 non-null  object
 1   DATE           328860 non-null  object
 2   DISPENSE       328860 non-null  float64
 3   DT             328860 non-null  float64
 4   COUNTTOTALTXN  328860 non-null  float64
 5   CREATED_BY     328860 non-null  object
 6   CREATED_AT     328860 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 17.6+ MB

In [40]:
df_trans.describe()

,DISPENSE,DT,COUNTTOTALTXN,CREATED_AT
count,3.288600e+05,328860.000000,328860.000000,328860
mean,3.217324e+05,126.453506,83.735632,2024-05-14 07:43:40.000001280
min,0.000000e+00,0.000000,0.000000,2024-05-14 07:43:40
25%,7.227000e+04,0.000000,22.000000,2024-05-14 07:43:40
50%,2.866500e+05,0.000000,78.000000,2024-05-14 07:43:40
75%,4.904100e+05,37.000000,124.000000,2024-05-14 07:43:40
max,1.936620e+06,1296.000000,504.000000,2024-05-14 07:43:40
std,2.818005e+05,305.196984,71.546692,NaN

In [41]:
df_trans.head()

,ATMID,DATE,DISPENSE,DT,COUNTTOTALTXN,CREATED_BY,CREATED_AT
0,TBH000274025,2023-01-29,225180.0,0.0,90.0,manishh.singh@fosfor.com,2024-05-14 07:43:40
1,TBH000274025,2023-01-30,262440.0,0.0,117.0,manishh.singh@fosfor.com,2024-05-14 07:43:40
2,TBH000274025,2023-01-31,561150.0,0.0,160.0,manishh.singh@fosfor.com,2024-05-14 07:43:40
3,TBH000274025,2023-02-01,437220.0,0.0,129.0,manishh.singh@fosfor.com,2024-05-14 07:43:40
4,TBH000274025,2023-02-02,360900.0,0.0,119.0,manishh.singh@fosfor.com,2024-05-14 07:43:40

In [42]:
df_trans.isnull().sum()

ATMID            0
DATE             0
DISPENSE         0
DT               0
COUNTTOTALTXN    0
CREATED_BY       0
CREATED_AT       0
dtype: int64

In [44]:
cols = ['ATMID','DATE','DISPENSE','DT','COUNTTOTALTXN']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df_trans[col].nunique())

------------------------------------------------
ATMID  ->  420
------------------------------------------------
DATE  ->  783
------------------------------------------------
DISPENSE  ->  5497
------------------------------------------------
DT  ->  1022
------------------------------------------------
COUNTTOTALTXN  ->  381