In [1]:
from snowflake.snowpark import Session
# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')
import configparser

import pandas as pd

In [2]:
config = configparser.ConfigParser()
config.read("snowflake_connection.ini")

['snowflake_connection.ini']

In [3]:
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    #"password": os.getenv('snowflake_password'),
    "account": f'{config["Snowflake"]["account"]}',
    #"account": os.getenv('snowflake_account'),
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

In [4]:
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [31]:
df =  pd.read_csv('/data/Lumin_Dump_CreditRiskAnalytics_v1.csv')

In [34]:
for col in list(df.columns):
    print (df[col].value_counts())

RECORD_COUNT
1         1
224241    1
224249    1
224248    1
224247    1
         ..
112006    1
112005    1
112004    1
112003    1
356189    1
Name: count, Length: 356255, dtype: int64
APPL_MONTH
2021-08-31T00:00    16581
2021-07-31T00:00    16274
2021-09-30T00:00    16177
2021-05-31T00:00    16095
2021-06-30T00:00    15910
2021-04-30T00:00    15836
2021-03-31T00:00    15701
2021-02-28T00:00    15357
2020-11-30T00:00    15123
2021-01-31T00:00    15025
2020-10-31T00:00    15021
2020-12-31T00:00    15014
2020-09-30T00:00    14512
2020-08-31T00:00    14190
2020-07-31T00:00    14104
2020-01-31T00:00    14080
2020-04-30T00:00    14044
2020-05-31T00:00    14021
2019-10-31T00:00    13985
2019-12-31T00:00    13890
2020-02-29T00:00    13865
2020-03-31T00:00    13821
2020-06-30T00:00    13819
2019-11-30T00:00    13810
Name: count, dtype: int64
REGION
Massachusetts    32928
New York         32643
Pennsylvania     32568
Maryland         32461
Connecticut      32398
Maine            32395
Rhode Island     32294
New Jersey       32206
Virginia         32181
Vermont          32116
New Hampshire    32065
Name: count, dtype: int64
SK_ID_CURR
163873    1
109794    1
143240    1
453217    1
262763    1
         ..
355530    1
252910    1
376524    1
453796    1
383306    1
Name: count, Length: 356255, dtype: int64
PD
0.380    6229
0.410    6192
0.340    6152
0.450    6151
0.150    6143
         ...
0.720    1145
0.900    1139
0.790    1096
0.445       1
0.254       1
Name: count, Length: 94, dtype: int64
TARGET
0    306975
1     49280
Name: count, dtype: int64
Default Prediction
Not Predicted to Default    306975
Predicted to Default         49280
Name: count, dtype: int64
NAME_CONTRACT_TYPE
Cash loans         326537
Revolving loans     29718
Name: count, dtype: int64
CODE_GENDER
Female           235126
Male             121125
Not specified         4
Name: count, dtype: int64
FLAG_OWN_CAR
Non Car Owner    235235
Car Owner        121020
Name: count, dtype: int64
FLAG_OWN_REALTY
Property Owner        246970
Non Property Owner    109285
Name: count, dtype: int64
CNT_CHILDREN
0.0     250056
1.0      70623
2.0      30698
3.0       4252
4.0        478
5.0         96
6.0         24
7.0          8
8.0          5
14.0         3
11.0         3
12.0         2
19.0         2
9.0          2
10.0         2
20.0         1
Name: count, dtype: int64
AMT_INCOME_TOTAL
135000.0    41312
112500.0    35870
157500.0    30991
180000.0    28924
90000.0     25427
            ...
336375.0        1
391972.5        1
76995.0         1
174897.0        1
100854.0        1
Name: count, Length: 2741, dtype: int64
AMT_CREDIT
450000.0     11827
675000.0     10303
225000.0      9998
180000.0      7757
270000.0      7733
             ...
149134.5         1
86098.5          1
786217.5         1
1403896.5        1
435717.0         1
Name: count, Length: 6480, dtype: int64
AMT_ANNUITY
9000.0      6450
13500.0     5556
6750.0      2404
10125.0     2052
37800.0     1612
            ...
45877.5        1
57069.0        1
65925.0        1
103392.0       1
85869.0        1
Name: count, Length: 14166, dtype: int64
AMT_GOODS_PRICE
450000.0    30711
225000.0    29732
675000.0    28434
900000.0    17404
270000.0    12653
            ...
630400.5        1
220297.5        1
352611.0        1
218232.0        1
394101.0        1
Name: count, Length: 1291, dtype: int64
NAME_TYPE_SUITE
Unaccompanied      288253
Family              46030
Spouse, partner     12818
Children             3675
Other_B              1981
Other_A               975
Group of people       320
Name: count, dtype: int64
NAME_INCOME_TYPE
Worker                  183307
Commercial associate     83019
Pensioner                64635
State servant            25235
Unemployed                  23
Student                     20
Businessman                 11
Maternity leave              5
Name: count, dtype: int64
NAME_EDUCATION_TYPE
Secondary            252379
Higher education      87379
Incomplete higher     12001
Lower secondary        4291
Academic degree         205
Name: count, dtype: int64
NAME_FAMILY_STATUS
Married                 228715
Single / not married     52480
Civil marriage           34036
Separated                22725
Widow                    18297
Unknown                      2
Name: count, dtype: int64
NAME_HOUSING_TYPE
Stand Alone House      316513
With parents            17074
Municipal apartment     12800
Rented apartment         5599
Office apartment         3024
Co-op apartment          1245
Name: count, dtype: int64
REGION_POPULATION_RELATIVE
0.035792    18990
0.046220    15939
0.030755    14154
0.025164    13549
0.026392    13406
            ...
0.001333      263
0.000533       40
0.000938       33
0.000290        2
0.000253        1
Name: count, Length: 82, dtype: int64
DAYS_BIRTH
10020.0    50
18248.0    47
15771.0    45
14137.0    44
13481.0    44
           ..
25177.0     1
25020.0     1
7763.0      1
7673.0      1
24958.0     1
Name: count, Length: 17467, dtype: int64
AGE
38.7    1117
39.4    1095
36.8    1080
39.2    1077
40.5    1076
        ...
21.0      22
20.1       1
69.1       1
20.5       1
20.2       1
Name: count, Length: 485, dtype: int64
DAYS_EMPLOYED
200.0      175
199.0      171
212.0      165
224.0      163
229.0      162
          ...
11030.0      1
13124.0      1
14660.0      1
10852.0      1
16547.0      1
Name: count, Length: 12895, dtype: int64
DAYS_REGISTRATION
-1.0        123
-7.0        111
-6.0        107
-4.0         99
-2.0         99
           ...
-15806.0      1
-15066.0      1
-14864.0      1
-14582.0      1
-15009.0      1
Name: count, Length: 15898, dtype: int64
DAYS_ID_PUBLISH
-4291.0    186
-4270.0    184
-4263.0    183
-4200.0    182
-4256.0    178
          ...
-6237.0      1
-6200.0      1
-6296.0      1
-5863.0      1
-6203.0      1
Name: count, Length: 6224, dtype: int64
OWN_CAR_AGE
7.0     8625
3.0     7397
8.0     6984
4.0     6909
6.0     6880
        ...
69.0       1
57.0       1
74.0       1
47.0       1
48.0       1
Name: count, Length: 63, dtype: int64
FLAG_MOBIL
1    356253
0         2
Name: count, dtype: int64
FLAG_EMP_PHONE
1    291594
0     64661
Name: count, dtype: int64
FLAG_WORK_PHONE
0    284969
1     71286
Name: count, dtype: int64
FLAG_CONT_MOBILE
1    355603
0       652
Name: count, dtype: int64
FLAG_PHONE
0    256998
1     99257
Name: count, dtype: int64
FLAG_EMAIL
0    330885
1     25370
Name: count, dtype: int64
OCCUPATION_TYPE
Laborers                       63841
Sales staff                    37174
Core staff                     31931
Managers                       24945
Drivers                        21376
High skill tech staff          13234
Accountants                    11441
Medicine staff                  9853
Security staff                  7636
Cooking staff                   6840
Cleaning staff                  5309
Private service staff           3107
Low-skill Laborers              2365
Waiters/barmen staff            1526
Secretaries                     1518
Realty agents                    889
HR staff                         667
IT staff                         607
Unspecified Occupation Type        1
Name: count, dtype: int64
CNT_FAM_MEMBERS
2.0     184411
1.0      78098
3.0      60774
4.0      28387
5.0       3990
6.0        451
7.0         93
8.0         22
9.0          7
10.0         6
13.0         3
12.0         2
14.0         2
20.0         2
16.0         2
11.0         1
15.0         1
21.0         1
Name: count, dtype: int64
REGION_RATING_CLIENT
Tier 2 Area    262340
Tier 3 Area     55954
Tier 1 Area     37961
Name: count, dtype: int64
REGION_RATING_CLIENT_W_CITY
 2    265260
 3     50652
 1     40342
-1         1
Name: count, dtype: int64
WEEKDAY_APPR_PROCESS_START
TUESDAY      63652
WEDNESDAY    60391
MONDAY       59120
THURSDAY     59009
FRIDAY       57588
SATURDAY     38455
SUNDAY       18040
Name: count, dtype: int64
HOUR_APPR_PROCESS_START
10    44196
11    43163
12    39651
13    35674
14    31879
9     31725
15    28600
16    23491
8     17701
17    17256
18    10492
7     10437
6      6855
19     4477
5      4192
4      2392
3      1470
20     1410
21      474
2       344
22      175
1       105
0        48
23       48
Name: count, dtype: int64
REG_REGION_NOT_LIVE_REGION
0    350680
1      5575
Name: count, dtype: int64
REG_REGION_NOT_WORK_REGION
0    337954
1     18301
Name: count, dtype: int64
LIVE_REGION_NOT_WORK_REGION
0    341703
1     14552
Name: count, dtype: int64
REG_CITY_NOT_LIVE_CITY
0    328440
1     27815
Name: count, dtype: int64
REG_CITY_NOT_WORK_CITY
0    274437
1     81818
Name: count, dtype: int64
LIVE_CITY_NOT_WORK_CITY
0    292548
1     63707
Name: count, dtype: int64

ORGANIZATION_TYPE
Business Entity Type 3       78832
Unspecified Business Type    64648
Self-employed                44332
Other                        19390
Medicine                     12909
Business Entity Type 2       12032
Government                   11912
School                       10180
Trade: type 7                 9134
Kindergarten                  7918
Construction                  7760
Business Entity Type 1        6871
Transport: type 4             6282
Trade: type 3                 4070
Industry: type 9              3867
Industry: type 3              3767
Security                      3719
Housing                       3393
Military                      3164
Industry: type 11             3120
Bank                          2881
Police                        2782
Agriculture                   2746
Transport: type 2             2652
Postal                        2451
Security Ministries           2315
Trade: type 2                 2142
Restaurant                    2095
Services                      1877
University                    1548
Industry: type 7              1524
Transport: type 3             1361
Industry: type 1              1217
Electricity                   1106
Hotel                         1100
Industry: type 4              1044
Trade: type 6                  753
Industry: type 5               696
Insurance                      677
Telecom                        672
Emergency                      651
Industry: type 2               535
Advertising                    500
Realtor                        468
Industry: type 12              446
Culture                        440
Trade: type 1                  412
Mobile                         362
Legal Services                 358
Cleaning                       303
Transport: type 1              236
Industry: type 6               139
Industry: type 10              133
Religion                        97
Trade: type 4                   78
Industry: type 13               73
Trade: type 5                   58
Industry: type 8                27
Name: count, dtype: int64
EXT_SOURCE_1
0.411716    6
0.377668    6
0.443982    5
0.287548    5
0.793782    5
           ..
0.632817    1
0.471207    1
0.311836    1
0.297797    1
0.396856    1
Name: count, Length: 134315, dtype: int64
EXT_SOURCE_2
0.285898    821
0.262258    418
0.265256    343
0.159679    322
0.265312    306
           ...
0.379698      1
0.246558      1
0.017549      1
0.049833      1
0.232535      1
Name: count, Length: 127154, dtype: int64
EXT_SOURCE_3
0.746300    1660
0.713631    1510
0.694093    1459
0.670652    1388
0.581484    1335
            ...
0.887664       1
0.016541       1
0.023062       1
0.029079       1
0.020311       1
Name: count, Length: 814, dtype: int64
APARTMENTS_AVG
0.0825    7773
0.0619    7345
0.0928    5172
0.0722    4619
0.0082    3986
          ...
0.2457       1
0.2017       1
0.7485       1
0.2269       1
0.2344       1
Name: count, Length: 2391, dtype: int64
BASEMENTAREA_AVG
0.0000    16986
0.1091      305
0.0545      296
0.0727      295
0.0818      292
          ...
0.3320        1
0.8088        1
0.2988        1
0.4396        1
0.4465        1
Name: count, Length: 3831, dtype: int64
YEARS_BEGINEXPLUATATION_AVG
0.9871    5012
0.9856    4866
0.9866    4861
0.9861    4841
0.9801    4788
          ...
0.9006       1
0.8579       1
0.8818       1
0.2380       1
0.7303       1
Name: count, Length: 294, dtype: int64
YEARS_BUILD_AVG
0.8232    3506
0.8164    3361
0.8028    3293
0.7280    3228
0.7348    3213
          ...
0.3676       2
0.3744       2
0.0616       2
0.0276       1
0.0208       1
Name: count, Length: 149, dtype: int64
COMMONAREA_AVG
0.0000    9815
0.0079     633
0.0078     559
0.0080     515
0.0077     487
          ...
0.5642       1
0.1871       1
0.9833       1
0.3868       1
0.8368       1
Name: count, Length: 3271, dtype: int64
ELEVATORS_AVG
0.0000    99185
0.0800    11568
0.1600    10392
0.2400     7138
0.1200     6515
          ...
0.1640        1
0.0528        1
0.0828        1
0.1944        1
0.0024        1
Name: count, Length: 266, dtype: int64
ENTRANCES_AVG
0.1379    39690
0.0690    26615
0.1034    22665
0.2069    22305
0.0345    17778
          ...
0.1214        1
0.1676        1
0.4252        1
0.1414        1
0.1510        1
Name: count, Length: 294, dtype: int64
FLOORSMAX_AVG
0.1667    71993
0.3333    37389
0.0417    16765
0.3750     9347
0.1250     8026
          ...
0.0067        1
0.1608        1
0.0613        1
0.4967        1
0.1925        1
Name: count, Length: 414, dtype: int64
FLOORSMIN_AVG
0.2083    38212
0.3750    20913
0.0417    20628
0.0833     5836
0.4167     4660
          ...
0.5117        1
0.3212        1
0.4512        1
0.6279        1
0.2217        1
Name: count, Length: 318, dtype: int64
LANDAREA_AVG
0.0000    18256
0.0316      219
0.0631      211
0.0473      207
0.0174      206
          ...
0.3621        1
0.3625        1
0.2360        1
0.5482        1
0.5212        1
Name: count, Length: 3580, dtype: int64
LIVINGAPARTMENTS_AVG
0.0504    4950
0.0672    4949
0.0756    3250
0.0588    2979
0.0841    2168
          ...
0.1552       1
0.0562       1
0.1266       1
0.1112       1
0.1902       1
Name: count, Length: 1917, dtype: int64
LIVINGAREA_AVG
0.0000    330
0.0512    273
0.0510    264
0.0509    256
0.0538    253
         ...
0.3960      1
0.3665      1
0.7713      1
0.2723      1
0.5123      1
Name: count, Length: 5272, dtype: int64
NONLIVINGAPARTMENTS_AVG
0.0000    63364
0.0039    15840
0.0077     7371
0.0116     4296
0.0154     3011
          ...
0.1293        1
0.5097        1
0.0199        1
0.4846        1
0.0471        1
Name: count, Length: 410, dtype: int64
NONLIVINGAREA_AVG
0.0000    68204
0.0012      648
0.0044      525
0.0022      510
0.0031      486
          ...
0.2942        1
0.9956        1
0.4030        1
0.3989        1
0.2855        1
Name: count, Length: 3397, dtype: int64
APARTMENTS_MODE
0.0840    8752
0.0630    8663
0.0945    5578
0.0735    5068
0.0084    4519
          ...
0.6481       1
0.6954       1
0.8036       1
0.8361       1
0.8971       1
Name: count, Length: 770, dtype: int64
BASEMENTAREA_MODE
0.0000    19156
0.0566      310
0.0849      304
0.1132      299
0.0830      286
          ...
0.3342        1
0.4869        1
0.2163        1
0.4209        1
0.5521        1
Name: count, Length: 3891, dtype: int64
YEARS_BEGINEXPLUATATION_MODE
0.9871    5011
0.9866    4902
0.9861    4842
0.9801    4779
0.9856    4742
          ...
0.8222       1
0.4518       1
0.9037       1
0.8967       1
0.9265       1
Name: count, Length: 224, dtype: int64
YEARS_BUILD_MODE
0.8301    3478
0.8236    3362
0.8171    3226
0.7387    3211
0.8105    3186
          ...
0.0657       2
0.0395       2
0.0591       1
0.0983       1
0.0330       1
Name: count, Length: 154, dtype: int64
COMMONAREA_MODE
0.0000    11294
0.0080      633
0.0079      629
0.0078      599
0.0081      481
          ...
0.2040        1
0.4701        1
0.2126        1
0.3280        1
0.2444        1
Name: count, Length: 3215, dtype: int64
ELEVATORS_MODE
0.0000    103668
0.0806     13582
0.1611     11426
0.2417      7497
0.1208      6688
0.0403      5671
0.2014      4632
0.3222      3390
0.2820      2504
0.4028      1876
0.3625      1535
0.4834      1283
0.4431       727
0.5639       605
0.6445       524
0.5236       302
0.6042       267
0.7250       254
1.0000       168
0.8056       165
0.6848       115
0.9667       104
0.8862        81
0.7653        46
0.8459        43
0.9264        22
Name: count, dtype: int64
ENTRANCES_MODE
0.1379    42068
0.0690    30989
0.1034    23890
0.2069    23050
0.0345    22478
0.1724    10482
0.2759     9382
0.2414     4705
0.3448     2420
0.3103     2358
0.4138     1369
0.3793     1137
0.4828      583
0.4483      510
0.0000      441
0.5517      414
0.5172      353
0.6207      270
0.5862      213
1.0000      181
0.6897      135
0.6552       76
0.7586       61
0.8966       59
0.7241       55
0.8276       49
0.7931       46
0.9655       31
0.9310       27
0.8621       16
Name: count, dtype: int64
FLOORSMAX_MODE
0.1667    76324
0.3333    40310
0.0417    17932
0.3750     9795
0.1250     8374
0.0833     7826
0.0000     3926
0.4583     3729
0.6250     2418
0.5417     2164
0.6667     2045
0.2083     1738
0.2500      674
0.2917      584
0.5833      455
0.4167      281
0.8750      272
0.7083      251
0.5000      216
1.0000      199
0.7500      144
0.9583      110
0.7917       70
0.9167       52
0.8333       25
Name: count, dtype: int64
FLOORSMIN_MODE
0.2083    40008
0.3750    22312
0.0417    21995
0.0833     6137
0.4167     4827
0.1667     4146
0.1250     3674
0.0000     2948
0.5000     2185
0.6667     1470
0.7083     1369
0.5833     1262
0.2500      900
0.2917      433
0.3333      369
0.6250      245
0.5417      170
1.0000      165
0.9167      153
0.7500      122
0.4583      120
0.7917       78
0.8333       26
0.9583       22
0.8750       11
Name: count, dtype: int64

LANDAREA_MODE
0.0000    20424
0.0194      250
0.0323      220
0.0645      219
0.0484      216
          ...
0.3709        1
0.2411        1
0.4725        1
0.2717        1
0.5331        1
Name: count, Length: 3621, dtype: int64
LIVINGAPARTMENTS_MODE
0.0551    5734
0.0735    5608
0.0826    3467
0.0643    3270
0.0918    2422
          ...
0.6189       1
0.6033       1
0.4472       1
0.8375       1
0.5519       1
Name: count, Length: 749, dtype: int64
LIVINGAREA_MODE
0.0000    513
0.0530    317
0.0532    296
0.0529    288
0.0533    276
         ...
0.5237      1
0.5741      1
0.6841      1
0.3949      1
0.3914      1
Name: count, Length: 5382, dtype: int64
NONLIVINGAPARTMENTS_MODE
0.0000    68893
0.0039    16439
0.0078     7452
0.0117     4247
0.0156     2957
          ...
0.7082        1
0.6304        1
0.3658        1
0.6498        1
0.5370        1
Name: count, Length: 178, dtype: int64
NONLIVINGAREA_MODE
0.0000    78048
0.0011      576
0.0046      529
0.0033      497
0.0012      497
          ...
0.3220        1
0.2945        1
0.3019        1
0.3010        1
0.3022        1
Name: count, Length: 3432, dtype: int64
APARTMENTS_MEDI
0.0833    8278
0.0625    7777
0.0937    5433
0.0729    4881
0.0083    4049
          ...
0.6376       1
0.2889       1
0.7037       1
0.2326       1
0.8889       1
Name: count, Length: 1163, dtype: int64
BASEMENTAREA_MEDI
0.0000    17270
0.1091      326
0.0818      317
0.0545      312
0.0727      295
          ...
0.8088        1
0.2988        1
0.4396        1
0.9132        1
0.4465        1
Name: count, Length: 3821, dtype: int64
YEARS_BEGINEXPLUATATION_MEDI
0.9871    5028
0.9861    4918
0.9856    4884
0.9866    4871
0.9801    4773
          ...
0.9131       1
0.6841       1
0.8400       1
0.8823       1
0.4789       1
Name: count, Length: 250, dtype: int64
YEARS_BUILD_MEDI
0.8256    3510
0.8189    3370
0.8054    3284
0.8121    3249
0.7316    3224
          ...
0.3828       2
0.3761       2
0.0339       1
0.0406       1
0.0071       1
Name: count, Length: 151, dtype: int64
COMMONAREA_MEDI
0.0000    10116
0.0079      675
0.0080      571
0.0078      551
0.0014      436
          ...
0.3293        1
0.1732        1
0.2038        1
0.2774        1
0.8421        1
Name: count, Length: 3289, dtype: int64
ELEVATORS_MEDI
0.00    100764
0.08     12676
0.16     10964
0.24      7519
0.12      6924
0.04      5634
0.20      4880
0.32      3450
0.28      2715
0.40      1938
0.36      1642
0.48      1279
0.44       833
0.10       627
0.56       603
0.64       534
0.06       457
0.14       452
0.02       433
0.52       345
0.18       341
0.60       297
0.72       260
0.22       254
1.00       182
0.80       168
0.26       167
0.68       129
0.30       115
0.96        98
0.34        87
0.88        84
0.38        76
0.76        51
0.84        43
0.42        37
0.46        25
0.92        22
0.50        16
0.54        11
0.78        11
0.62         7
0.74         7
0.58         6
0.90         6
0.66         6
Name: count, dtype: int64
ENTRANCES_MEDI
0.1379    41494
0.0690    28062
0.1034    23804
0.2069    23122
0.0345    18665
0.1724    11182
0.2759     9393
0.2414     5051
0.3448     2489
0.3103     2448
0.0862     1560
0.1207     1454
0.4138     1353
0.3793     1179
0.1552      936
0.0517      715
0.1897      634
0.4828      583
0.4483      519
0.5517      416
0.0000      367
0.5172      359
0.2241      331
0.6207      270
0.5862      214
0.2586      201
1.0000      182
0.6897      135
0.2931      118
0.6552       79
0.3276       70
0.7586       61
0.8966       59
0.7241       55
0.8276       49
0.7931       46
0.3621       44
0.4310       33
0.9655       31
0.9310       27
0.8621       16
0.3966       16
0.4655       14
0.0172        7
0.5690        4
0.5000        1
Name: count, dtype: int64
FLOORSMAX_MEDI
0.1667    74050
0.3333    39032
0.0417    17035
0.3750     9670
0.1250     8144
0.0833     7674
0.4583     3591
0.0000     3420
0.6250     2378
0.5417     2183
0.6667     2004
0.2500     1977
0.2083     1782
0.2917      648
0.3542      533
0.1042      522
0.5833      510
0.3958      405
0.4167      391
0.1458      379
0.5000      357
0.2708      347
0.1875      295
0.8750      267
0.4792      266
0.7083      261
1.0000      206
0.4375      165
0.0625      162
0.7500      158
0.3125      151
0.0208      146
0.2292      145
0.6042      137
0.9583      112
0.7917       75
0.5625       51
0.5208       51
0.9167       50
0.8333       45
0.6458       34
0.7708       31
0.6875       27
0.8125       24
0.7292       11
0.9375        5
0.8542        4
0.8958        2
0.9792        1
Name: count, dtype: int64
FLOORSMIN_MEDI
0.2083    39237
0.3750    21743
0.0417    21010
0.0833     5886
0.4167     4790
0.1667     4076
0.1250     3900
0.0000     2748
0.5000     2123
0.6667     1463
0.7083     1327
0.5833     1261
0.2917     1005
0.2500      908
0.3333      394
0.6250      280
0.5417      253
0.3958      239
0.4375      215
0.1458      207
0.3125      180
0.1875      177
0.4583      175
1.0000      171
0.9167      153
0.2292      152
0.7500      144
0.1042      130
0.2708      120
0.5208      100
0.3542       95
0.7917       78
0.4792       68
0.6458       59
0.0625       58
0.0208       56
0.8333       32
0.5625       24
0.8750       21
0.9583       19
0.6042       17
0.8125       15
0.7292       11
0.6875       10
0.7708        7
0.8542        5
0.9792        5
Name: count, dtype: int64
LANDAREA_MEDI
0.0000    18627
0.0193      231
0.0642      217
0.0482      216
0.0143      212
          ...
0.3393        1
0.6885        1
0.2380        1
0.3100        1
0.5303        1
Name: count, Length: 3618, dtype: int64
LIVINGAPARTMENTS_MEDI
0.0684    5266
0.0513    5225
0.0770    3430
0.0599    3118
0.0855    2362
          ...
0.7225       1
0.6798       1
0.4635       1
0.3228       1
0.2561       1
Name: count, Length: 1119, dtype: int64
LIVINGAREA_MEDI
0.0000    348
0.0548    283
0.0518    273
0.0520    266
0.0522    263
         ...
0.3910      1
0.5942      1
0.4041      1
0.4687      1
0.5215      1
Name: count, Length: 5360, dtype: int64
NONLIVINGAPARTMENTS_MEDI
0.0000    65214
0.0039    16467
0.0078     7547
0.0116     4380
0.0155     3040
          ...
0.3649        1
0.6483        1
0.8618        1
0.4037        1
0.1417        1
Name: count, Length: 231, dtype: int64
NONLIVINGAREA_MEDI
0.0000    70821
0.0012      636
0.0022      547
0.0037      531
0.0044      493
          ...
0.2118        1
0.3815        1
0.5527        1
0.3439        1
0.2914        1
Name: count, Length: 3419, dtype: int64
FONDKAPREMONT_MODE
reg oper account         85954
reg oper spec account    14070
not specified             6600
org spec account          6539
Name: count, dtype: int64
HOUSETYPE_MODE
block of flats      175162
specific housing      1761
terraced house        1416
Name: count, dtype: int64
TOTALAREA_MODE
0.0000    655
0.0570    285
0.0551    268
0.0548    265
0.0550    263
         ...
0.3118      1
0.5635      1
0.4943      1
0.3382      1
0.3041      1
Name: count, Length: 5191, dtype: int64
WALLSMATERIAL_MODE
Panel           77309
Stone, brick    75249
Block           10681
Wooden           6156
Mixed            2649
Monolithic       2068
Others           1909
Name: count, dtype: int64
EMERGENCYSTATE_MODE
No     185607
Yes      2684
Name: count, dtype: int64
OBS_30_CNT_SOCIAL_CIRCLE
0.0      189935
1.0       56548
2.0       34559
3.0       23591
4.0       16345
5.0       11020
6.0        7487
7.0        5085
8.0        3453
9.0        2347
10.0       1595
11.0        987
12.0        759
13.0        475
14.0        307
15.0        196
16.0        153
17.0        104
18.0         56
19.0         52
20.0         39
21.0         31
22.0         23
23.0         18
25.0         11
24.0         11
27.0          5
26.0          3
29.0          2
30.0          2
348.0         1
354.0         1
47.0          1
353.0         1
28.0          1
352.0         1
Name: count, dtype: int64
DEF_30_CNT_SOCIAL_CIRCLE
0.0     314519
1.0      32771
2.0       6157
3.0       1381
4.0        293
5.0         64
6.0         14
34.0         4
7.0          1
8.0          1
Name: count, dtype: int64
OBS_60_CNT_SOCIAL_CIRCLE
0.0      190806
1.0       56611
2.0       34501
3.0       23477
4.0       16145
5.0       10904
6.0        7379
7.0        5021
8.0        3376
9.0        2293
10.0       1551
11.0        968
12.0        726
13.0        468
14.0        283
15.0        198
16.0        154
17.0         89
18.0         61
19.0         50
20.0         38
21.0         30
22.0         21
23.0         16
24.0         12
25.0         11
27.0          5
29.0          3
349.0         2
26.0          1
30.0          1
344.0         1
47.0          1
351.0         1
28.0          1
Name: count, dtype: int64
DEF_60_CNT_SOCIAL_CIRCLE
0.0     325335
1.0      25325
2.0       3666
3.0        695
4.0        152
5.0         24
24.0         4
6.0          3
7.0          1
Name: count, dtype: int64
DAYS_LAST_PHONE_CHANGE
0.0       1966
1.0        137
2.0        120
3.0         90
4.0         76
          ...
2204.0       1
2494.0       1
2926.0       1
1160.0       1
3220.0       1
Name: count, Length: 2958, dtype: int64
AMT_REQ_CREDIT_BUREAU_HOUR
0.0    306972
1.0      1648
2.0        57
3.0         9
4.0         1
Name: count, dtype: int64
AMT_REQ_CREDIT_BUREAU_DAY
0.0    307128
1.0      1355
2.0       113
3.0        45
4.0        26
5.0         9
6.0         8
9.0         2
8.0         1
Name: count, dtype: int64
AMT_REQ_CREDIT_BUREAU_WEEK
0.0    300035
1.0      8321
2.0       202
3.0        58
4.0        34
6.0        20
5.0        10
8.0         5
7.0         2
Name: count, dtype: int64
AMT_REQ_CREDIT_BUREAU_MON
0.0     264574
1.0      33471
2.0       5409
3.0       1995
4.0       1077
5.0        603
6.0        344
7.0        298
9.0        206
8.0        185
10.0       132
11.0       119
12.0        77
13.0        72
14.0        40
15.0        35
16.0        23
17.0        14
18.0         6
19.0         3
24.0         1
27.0         1
23.0         1
22.0         1
Name: count, dtype: int64
AMT_REQ_CREDIT_BUREAU_QRT
0.0      238976
1.0       49435
2.0       17410
3.0        2212
4.0         533
5.0          75
6.0          29
7.0           8
8.0           7
261.0         1
19.0          1
Name: count, dtype: int64
Credit Bureau Requests
0.0     82640
1.0     72616
2.0     58681
3.0     39822
4.0     24459
5.0     14128
6.0      8094
7.0      4422
8.0      2424
9.0      1218
11.0       43
10.0       43
12.0       35
13.0       21
14.0       11
17.0        8
15.0        6
19.0        4
18.0        4
16.0        3
22.0        1
25.0        1
23.0        1
20.0        1
21.0        1
Name: count, dtype: int64

In [6]:
df['APPL_MONTH'] = pd.to_datetime(df['APPL_MONTH'], format='ISO8601')

In [ ]:
df.fillna(0, inplace=True)

In [7]:
df['HOUSETYPE_MODE'].fillna('Missing', inplace=True)
df['WALLSMATERIAL_MODE'].fillna('Missing', inplace=True)
df['EMERGENCYSTATE_MODE'].fillna('Missing', inplace=True)
df['OCCUPATION_TYPE'].fillna('Missing', inplace=True)
df['FONDKAPREMONT_MODE'].fillna('Missing', inplace=True)
df['NAME_TYPE_SUITE'].fillna('Missing', inplace=True)

In [8]:
df['RECORD_COUNT'] = df['RECORD_COUNT'].apply(str)
df['APPL_MONTH'] = df['APPL_MONTH'].apply(str)
df['SK_ID_CURR'] = df['SK_ID_CURR'].apply(str)
df['TARGET'] = df['TARGET'].apply(str)
df['FLAG_MOBIL'] = df['FLAG_MOBIL'].apply(str)
df['FLAG_EMP_PHONE'] = df['FLAG_EMP_PHONE'].apply(str)
df['FLAG_WORK_PHONE'] = df['FLAG_WORK_PHONE'].apply(str)
df['FLAG_CONT_MOBILE'] = df['FLAG_CONT_MOBILE'].apply(str)
df['FLAG_PHONE'] = df['FLAG_PHONE'].apply(str)
df['FLAG_EMAIL'] = df['FLAG_EMAIL'].apply(str)
df['REGION_RATING_CLIENT_W_CITY'] = df['REGION_RATING_CLIENT_W_CITY'].apply(str)
df['HOUR_APPR_PROCESS_START'] = df['HOUR_APPR_PROCESS_START'].apply(str)
df['REG_REGION_NOT_LIVE_REGION'] = df['REG_REGION_NOT_LIVE_REGION'].apply(str)
df['REG_REGION_NOT_WORK_REGION'] = df['REG_REGION_NOT_WORK_REGION'].apply(str)
df['LIVE_REGION_NOT_WORK_REGION'] = df['LIVE_REGION_NOT_WORK_REGION'].apply(str)
df['REG_CITY_NOT_LIVE_CITY'] = df['REG_CITY_NOT_LIVE_CITY'].apply(str)
df['REG_CITY_NOT_WORK_CITY'] = df['REG_CITY_NOT_WORK_CITY'].apply(str)
df['LIVE_CITY_NOT_WORK_CITY'] = df['LIVE_CITY_NOT_WORK_CITY'].apply(str)
df['EXT_SOURCE_1'] = df['EXT_SOURCE_1'].apply(str)
df['EXT_SOURCE_2'] = df['EXT_SOURCE_2'].apply(str)
df['YEARS_BUILD_MEDI'] = df['YEARS_BUILD_MEDI'].apply(str)
df['COMMONAREA_MEDI'] = df['COMMONAREA_MEDI'].apply(str)
df['ELEVATORS_MEDI'] = df['ELEVATORS_MEDI'].apply(str)
df['ENTRANCES_MEDI'] = df['ENTRANCES_MEDI'].apply(str)
df['FLOORSMAX_MEDI'] = df['FLOORSMAX_MEDI'].apply(str)
df['FLOORSMIN_MEDI'] = df['FLOORSMIN_MEDI'].apply(str)
df['LANDAREA_MEDI'] = df['LANDAREA_MEDI'].apply(str)
df['LIVINGAPARTMENTS_MEDI'] = df['LIVINGAPARTMENTS_MEDI'].apply(str)
df['LIVINGAREA_MEDI'] = df['LIVINGAREA_MEDI'].apply(str)
df['NONLIVINGAPARTMENTS_MEDI'] = df['NONLIVINGAPARTMENTS_MEDI'].apply(str)
df['NONLIVINGAREA_MEDI'] = df['NONLIVINGAREA_MEDI'].apply(str)
df['TOTALAREA_MODE'] = df['TOTALAREA_MODE'].apply(str)
df['DAYS_LAST_PHONE_CHANGE'] = df['DAYS_LAST_PHONE_CHANGE'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_HOUR'] = df['AMT_REQ_CREDIT_BUREAU_HOUR'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_DAY'] = df['AMT_REQ_CREDIT_BUREAU_DAY'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_WEEK'] = df['AMT_REQ_CREDIT_BUREAU_WEEK'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_MON'] = df['AMT_REQ_CREDIT_BUREAU_MON'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_QRT'] = df['AMT_REQ_CREDIT_BUREAU_QRT'].apply(str)
df['OBS_30_CNT_SOCIAL_CIRCLE'] = df['OBS_30_CNT_SOCIAL_CIRCLE'].apply(str)
df['DEF_30_CNT_SOCIAL_CIRCLE'] = df['DEF_30_CNT_SOCIAL_CIRCLE'].apply(str)

In [11]:
df_snowflake=session.createDataFrame(
        df.values.tolist(),
        schema=df.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_APPLICATION_OUTPUT_DECISION_V1")

In [19]:
df =  pd.read_csv('/data/Lumin_Dump_CreditRiskAnalytics_v2.csv')

In [20]:
df['APPL_MONTH'] = pd.to_datetime(df['APPL_MONTH'], format='ISO8601')

In [21]:
df.fillna(0, inplace=True)

In [23]:
df['HOUSETYPE_MODE'].fillna('Missing', inplace=True)
df['WALLSMATERIAL_MODE'].fillna('Missing', inplace=True)
df['EMERGENCYSTATE_MODE'].fillna('Missing', inplace=True)
df['OCCUPATION_TYPE'].fillna('Missing', inplace=True)
df['FONDKAPREMONT_MODE'].fillna('Missing', inplace=True)
df['NAME_TYPE_SUITE'].fillna('Missing', inplace=True)

In [24]:
df['RECORD_COUNT'] = df['RECORD_COUNT'].apply(str)
df['APPL_MONTH'] = df['APPL_MONTH'].apply(str)
df['SK_ID_CURR'] = df['SK_ID_CURR'].apply(str)
df['TARGET'] = df['TARGET'].apply(str)
df['FLAG_MOBIL'] = df['FLAG_MOBIL'].apply(str)
df['FLAG_EMP_PHONE'] = df['FLAG_EMP_PHONE'].apply(str)
df['FLAG_WORK_PHONE'] = df['FLAG_WORK_PHONE'].apply(str)
df['FLAG_CONT_MOBILE'] = df['FLAG_CONT_MOBILE'].apply(str)
df['FLAG_PHONE'] = df['FLAG_PHONE'].apply(str)
df['FLAG_EMAIL'] = df['FLAG_EMAIL'].apply(str)
df['REGION_RATING_CLIENT_W_CITY'] = df['REGION_RATING_CLIENT_W_CITY'].apply(str)
df['HOUR_APPR_PROCESS_START'] = df['HOUR_APPR_PROCESS_START'].apply(str)
df['REG_REGION_NOT_LIVE_REGION'] = df['REG_REGION_NOT_LIVE_REGION'].apply(str)
df['REG_REGION_NOT_WORK_REGION'] = df['REG_REGION_NOT_WORK_REGION'].apply(str)
df['LIVE_REGION_NOT_WORK_REGION'] = df['LIVE_REGION_NOT_WORK_REGION'].apply(str)
df['REG_CITY_NOT_LIVE_CITY'] = df['REG_CITY_NOT_LIVE_CITY'].apply(str)
df['REG_CITY_NOT_WORK_CITY'] = df['REG_CITY_NOT_WORK_CITY'].apply(str)
df['LIVE_CITY_NOT_WORK_CITY'] = df['LIVE_CITY_NOT_WORK_CITY'].apply(str)
df['EXT_SOURCE_1'] = df['EXT_SOURCE_1'].apply(str)
df['EXT_SOURCE_2'] = df['EXT_SOURCE_2'].apply(str)
df['YEARS_BUILD_MEDI'] = df['YEARS_BUILD_MEDI'].apply(str)
df['COMMONAREA_MEDI'] = df['COMMONAREA_MEDI'].apply(str)
df['ELEVATORS_MEDI'] = df['ELEVATORS_MEDI'].apply(str)
df['ENTRANCES_MEDI'] = df['ENTRANCES_MEDI'].apply(str)
df['FLOORSMAX_MEDI'] = df['FLOORSMAX_MEDI'].apply(str)
df['FLOORSMIN_MEDI'] = df['FLOORSMIN_MEDI'].apply(str)
df['LANDAREA_MEDI'] = df['LANDAREA_MEDI'].apply(str)
df['LIVINGAPARTMENTS_MEDI'] = df['LIVINGAPARTMENTS_MEDI'].apply(str)
df['LIVINGAREA_MEDI'] = df['LIVINGAREA_MEDI'].apply(str)
df['NONLIVINGAPARTMENTS_MEDI'] = df['NONLIVINGAPARTMENTS_MEDI'].apply(str)
df['NONLIVINGAREA_MEDI'] = df['NONLIVINGAREA_MEDI'].apply(str)
df['TOTALAREA_MODE'] = df['TOTALAREA_MODE'].apply(str)
df['DAYS_LAST_PHONE_CHANGE'] = df['DAYS_LAST_PHONE_CHANGE'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_HOUR'] = df['AMT_REQ_CREDIT_BUREAU_HOUR'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_DAY'] = df['AMT_REQ_CREDIT_BUREAU_DAY'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_WEEK'] = df['AMT_REQ_CREDIT_BUREAU_WEEK'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_MON'] = df['AMT_REQ_CREDIT_BUREAU_MON'].apply(str)
df['AMT_REQ_CREDIT_BUREAU_QRT'] = df['AMT_REQ_CREDIT_BUREAU_QRT'].apply(str)
df['OBS_30_CNT_SOCIAL_CIRCLE'] = df['OBS_30_CNT_SOCIAL_CIRCLE'].apply(str)
df['DEF_30_CNT_SOCIAL_CIRCLE'] = df['DEF_30_CNT_SOCIAL_CIRCLE'].apply(str)

In [25]:
df.head()

,RECORD_COUNT,APPL_MONTH,REGION,SK_ID_CURR,PD,TARGET,Default Prediction,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,Credit Bureau Requests
0,1,2022-05-01 00:00:00,New York,163873,0.21,0,Not Predicted to Default,Conventional Mortgage,Male,Car Owner,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,2022-05-01 00:00:00,Maine,182774,0.30,0,Not Predicted to Default,Conventional Mortgage,Female,Non Car Owner,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0
2,3,2022-05-01 00:00:00,Pennsylvania,174777,0.37,0,Not Predicted to Default,Conventional Mortgage,Female,Car Owner,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4,2022-05-01 00:00:00,Maryland,435301,0.35,0,Not Predicted to Default,HELOC Loans,Female,Car Owner,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,2022-05-01 00:00:00,New Hampshire,426930,0.42,0,Not Predicted to Default,Conventional Mortgage,Female,Non Car Owner,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
df_snowflake=session.createDataFrame(
        df.values.tolist(),
        schema=df.columns.tolist())
df_snowflake.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_APPLICATION_OUTPUT_DECISION_v2")

TypeError: field HOUSETYPE_MODE: Cannot merge type <class 'snowflake.snowpark.types.StringType'> and <class 'snowflake.snowpark.types.LongType'>

## Once the tables are ready, please execute below query on snowflake to create APPLICATION_DATE as DATE

ALTER TABLE FDC_DATA_MANISH.PUBLIC.CRA_APPLICATION_OUTPUT_DECISION_v1 ADD COLUMN APPLICATION_DATE DATE
UPDATE FDC_DATA_MANISH.PUBLIC.CRA_APPLICATION_OUTPUT_DECISION_v1 SET APPLICATION_DATE = TRY_TO_DATE(APPL_MONTH, 'dd-mm-yyyy')

ALTER TABLE FDC_DATA_MANISH.PUBLIC.CRA_APPLICATION_OUTPUT_DECISION_v2 ADD COLUMN APPLICATION_DATE DATE;
UPDATE FDC_DATA_MANISH.PUBLIC.CRA_APPLICATION_OUTPUT_DECISION_v2 SET APPLICATION_DATE = TRY_TO_DATE(APPL_MONTH, 'dd-mm-yyyy');