# Use Credit Risk Analytics

## Import Snowpark Pandas for dumping csv to Snowflake table

In [2]:
#!pip install "snowflake-connector-python[pandas]"

In [1]:
from snowflake.snowpark.session import Session
import pandas as pd
import subprocess

# Code to read Credit Risk Analytics local files and dump the same into Snowflake

In [3]:
df_install = pd.read_csv("/data/installments_payments.csv")

In [4]:
df_cc_balance = pd.read_csv("/data/credit_card_balance.csv")

In [6]:
df_prev_app = pd.read_csv("/data/previous_application.csv")

In [7]:
df_bureau_bal = pd.read_csv("/data/bureau_balance.csv")

In [8]:
df_bureau = pd.read_csv("/data/bureau.csv")

In [9]:
df_POS_CASH = pd.read_csv("/data/POS_CASH_balance.csv")

In [10]:
print ("installments_payments ", df_install.shape)
print ("credit_card_balance ", df_cc_balance.shape)
print ("previous_application ", df_prev_app.shape)
print ("bureau_balance ", df_bureau_bal.shape)
print ("bureau ", df_bureau.shape)
print ("POS_CASH_balance ", df_POS_CASH.shape)

installments_payments  (13605401, 8)
credit_card_balance  (3840312, 23)
previous_application  (1670214, 37)
bureau_balance  (27299925, 3)
bureau  (1716428, 17)
POS_CASH_balance  (10001358, 8)

# Code to establish connection and  dump csv as a snowflake table in FDC setup

In [11]:
#Import all snowflake connection details from template variables.
db_user = 'MANISH'
db_password = 'Password@2023'
db_account = 'ug94937.us-east4.gcp'
db_database =  'FDC_DATA_MANISH'
db_role = 'MANISH'
db_warehouse = 'FOSFOR_SOLUTIONS_WH'
db_schema = 'PUBLIC'

In [12]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session1 = Session.builder.configs(connection_params).create()

In [13]:
session1.sql('use warehouse FOSFOR_SOLUTIONS_WH;').collect()
session1.sql('use database FDC_DATA_MANISH;').collect()
session1.sql('use schema FDC_DATA_MANISH.PUBLIC;').collect()

[Row(status='Statement executed successfully.')]

In [14]:
sf_df_install=session1.createDataFrame(
        df_install.values.tolist(),
        schema=df_install.columns.tolist())
sf_df_install.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_installments_payments")

In [15]:
sf_df_cc_balance=session1.createDataFrame(
        df_cc_balance.values.tolist(),
        schema=df_cc_balance.columns.tolist())
sf_df_cc_balance.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_credit_card_balance")

In [17]:
df_prev_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [18]:
df_prev_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
sf_df_prev_app=session1.createDataFrame(
        df_prev_app.values.tolist(),
        schema=df_prev_app.columns.tolist())
sf_df_prev_app.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_previous_application")

TypeError: field NAME_TYPE_SUITE: Cannot merge type <class 'snowflake.snowpark.types.FloatType'> and <class 'snowflake.snowpark.types.StringType'>

In [63]:
sf_df_bureau_bal=session1.createDataFrame(
        df_bureau_bal.values.tolist(),
        schema=df_bureau_bal.columns.tolist())
sf_df_bureau_bal.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_bureau_balance")

In [64]:
sf_df_bureau=session1.createDataFrame(
        df_bureau.values.tolist(),
        schema=df_bureau.columns.tolist())
sf_df_bureau.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_bureau")

In [65]:
sf_df_POS_CASH=session1.createDataFrame(
        df_POS_CASH.values.tolist(),
        schema=df_POS_CASH.columns.tolist())
sf_df_POS_CASH.write.mode("overwrite").save_as_table("FDC_DATA_MANISH.PUBLIC.CRA_POS_CASH_balance")